* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

/* Navigation */
.nav-container {
    background: #EEE5E9;
    box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.1);
    height: 72px;
}

.wrapper {
    width: 1440px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
}

nav ul {
    display: flex;
}

.nav-items li {
    list-style: none;
    margin-right: 100px;
}

.nav-items li:nth-last-of-type(1) {
    margin: 0;
}

.nav-items li a {
    color: #0E3234;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-decoration: none;
}

/* Hero Content */

.header-container {
    background: #7EE0E5;
    height: calc(100vh - 72px);
    display: flex;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;
    color: #0E3234;
    margin-bottom: 24px;
}

header p {
    font-weight: 400;
    font-size: 24px;
    line-height: 42px;
    width: 416px;
    margin-bottom: 24px;
}

header a {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #EEE5E9;
    text-decoration: none;
    padding: 16px 37px;
    background: #5A189A;
    border-radius: 8px;
    display: inline-block;
    translate: 300ms;
}

header a:hover {
    transform: translateY(-8px)
}

/* Social icons section */
.social-icons {
    display: flex;
    align-items: center;
}

.social-icons a {
    margin: 0 24px;
}

.social-icons a:nth-of-type(1) {
    margin-left: 0;
}